@use "vars" as *;

#header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	padding: vw(18) vw(15) vw(17) vw(27);
	@include flex(between,start,wrap);
	@include mq(tb){
		position: fixed;
		background: #35443f;
		padding: 0 0 0 2%;
	}
	.header-logo{
		display: block;
		max-width: vw(328);
		@include mq(){
			max-width: vwsp(274);
		}
	}
	.header-btn{
		position: absolute;
		@include v-align;
		right: vwsp(105);
		width: vwsp(231);
		height: vwsp(70);
		font-size: vwsp(24);
		font-weight: bold;
		text-transform: uppercase;
		background: url("../img/btn-header.png")no-repeat;
		background-size: 100%;
		color: white;
		@include flex(center,center);
	}
	.header-nav{
		@include mq(tb-min){
			display: block !important;
		}
		@include mq(tb){
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 100vh;
			padding: 20px 20px 60px;
			overflow-y: scroll;
			background: url("../img/bg-menu-sp.png")no-repeat;
			background-size: cover;
			background-position: bottom center;
			z-index: 999;
		}
		&__logo{
			margin-bottom: 3vw;
			img{
				display: block;
				width: vwsp(328);
				margin: 0 auto;
			}
		}
		&__menu{
			display: flex;
			flex-wrap: wrap;
			align-items: flex-end;
			padding: vw(28) 0 0;
			@include mq(tb){
				display: block;
				padding: 0;
				margin-bottom: 30px;
			}
			&-item{
				@include mq(tb-min){
					border-right: 2px solid #475053;
					&:last-child{
						border-right: none;
					}
				}
				@include mq(tb){
					margin-bottom: 3vw;
				}
				a{
					@include mq(tb-min){
						display: block;
						font-size: vw(16);
						text-transform: uppercase;
						line-height: 1.2;
						font-weight: bold;
						color: #475053;
						padding: 0 vw(10);
					}
					@include mq(tb){
						@include flex(center,center);
						width: vwsp(337);
						height: vwsp(83);
						background: url("../img/btn-menu-sp.png")no-repeat;
						background-size: 100%;
						font-size: vwsp(25);
						color: white;
						font-weight: bold;
						margin: 0 auto;
						text-transform: uppercase;
					}
				}
			}
		}
		&__sns{
			@include flex(center,center,wrap);
			position: relative;
			padding: 30px 0 0;
			&:before{
				content: "";
				width: 170px;
				height: 1px;
				background: #4f8b7f;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				margin: 0 auto;
			}
			li{
				margin: 0 10px;
				a{
					display: block;
					width: vwsp(116);
				}
			}
		}
	}
	.js-mobile {
		width: vwsp(105);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		cursor: pointer;
		z-index: 99999;
		display: none;
		@include mq(tb){
			@include flex(center,center);
		}
		span{
			position: absolute;
			@include v-align;
			display: block;
			width: 45%;
			height: vwsp(4);
			background: white;
			border-radius: 3px;
			&:before,&:after{
				position: absolute;
				left: 0;
				width: 100%;
				height: 100%;
				background: white;
				content: '';
				-webkit-transition: -webkit-transform 0.3s;
				transition: transform 0.3s;
				border-radius: 3px;
			}
			&:before{
				-webkit-transform: translateY(-250%);
				transform: translateY(-250%);
				top: -4px;
			}
			&:after{
				-webkit-transform: translateY(250%);
				transform: translateY(250%);
				bottom: -4px;
			}
		}
		&--close {
			span{
				background-color: transparent;
				&:before,&:after{
					width: 100%;
					background: white;
				}
				&:before {
					-webkit-transform: translateY(0) rotate(45deg);
					transform: translateY(0) rotate(45deg);
					top: 2px;
				}
				&:after {
					-webkit-transform: translateY(0) rotate(-45deg);
					transform: translateY(0) rotate(-45deg);
					bottom: -2px;
				}
			}
		}
	}
}

.float-right{
	position: fixed;
	@include v-align;
	right: 0;
	width: vw(360);
	&.fixd{
		z-index: 999;
	}
	@include mq(){
		top: auto;
		bottom:  vw(20);
		transform: translateY(0);
	}
	&__menu{
		position: relative;
		margin-bottom: vw(10);
		ul{
			position: absolute;
			top: 69%;
			right: 12%;
			left: 43%;
			li{
				margin-bottom: 3px;
				&:last-child{
					margin-bottom: 0;
				}
				a{
					font-size: vw(16);
					text-transform: uppercase;
					height: vw(47);
					background: url("../img/btn-03.png")no-repeat;
					background-size: 100%;
					&:hover{
						background: url("../img/btn-03-hv.png")no-repeat;
						background-size: 100%;
					}
				}
			}
		}
	}
	&__top{
		display: block;
		width: vw(70);
		position: relative;
		margin-left: auto;
		margin-right: 25%;
		@include mq(){
			width: vwsp(70);
			right: vwsp(10);
		}
		img{
			@include smooth-transition;
		}
		.img-01{

		}
		.img-02{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			opacity: 0;
			visibility: hidden;
		}
		&:hover{
			opacity: 1;
			.img-01{
				opacity: 0;
				visibility: hidden;
			}
			.img-02{
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
.float-left{
	width: vw(234);
	position: fixed;
	bottom: 0;
	left: 0;
	.c-btn__01{
		position: absolute;
		bottom: vw(42);
		right: 11%;
		font-size: vw(17);
		width: vw(180);
		height: vw(40);
	}
}

.js-locked {
	overflow: hidden;
	-ms-touch-action: none;
	touch-action: none;
	body {
		-webkit-overflow-scrolling: auto;
	}
}