@use "vars" as *;

.sec-mv{
	background: url(../img/bg-01.jpg) no-repeat;
	background-size: cover;
	background-position: top center;
	padding: 125px 0 240px;
}

.mv-block{
	width: 100%;
	max-width: 1237px;
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
	z-index: 1;
	&__ct{
		width: 50%;
		max-width: 373px;
		padding: 0 0 0 14px;
		margin-bottom: 40px;
	}
	&__menu{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 10px;
	}
}


.heading{
	position: relative;
	margin-bottom: 36px;
	&-bg{
		max-width: 894px;
		margin: 0 auto;
		img{
			width: 100%;
		}
	}
	.c-ttl__01{
		position: absolute;
		top: 66%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
	}
}


.sec-gift{
	background: url(../img/bg-02.png) no-repeat;
	background-size: cover;
	background-position: top center;
	padding: 0 0 70px;
}
.gift-block{
	&__view{
		display: block;
		max-width: 462px;
		height: 83px;
		padding: 15px 0 0;
		margin: 0 auto 90px;
		position: relative;
		background: url("../img/bg-note.png")no-repeat;
		background-size: 100%;
		text-align: center;
		&-ttl{
			display: block;
			position: absolute;
			top: -13px;
			left: 0;
			right: 0;
			@include font-size(22);
			font-weight: bold;
			text-transform: uppercase;
			color: #4b504e;
			span{
				background: #e9eff1;
				padding: 0 20px;
			}
		}
		&-number{
			display: block;
			text-align: center;
			@include font-size(50);
			color: #489e7c;
			line-height: 1;
			font-weight: bold;
		}
	}
	&__show{
		&-line{
			position: relative;
			&--custom{
				display: inline-block;
				position: absolute;
				@include v-align;
				left: 28px;
				background: #5ca780;
				height: 5px;
			}
		}
	}
	&__list{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		gap: 4%;
		padding: 0 2%;
		margin: -115px 0 68px;
		&-item{
			position: relative;
			&:nth-child(even){
				transform: translate(0, 25px);
			}
		}
		&-box{

		}
		&-ct{
			position: absolute;
			top: 35%;
			left: 0;
			right: 0;
			@include font-size(15);
			line-height: 1;
			text-align: center;
			font-weight: bold;
			color: #465750;
			text-transform: uppercase;
			span{
				display: block;
				@include font-size(30);
				padding: 5px 0 0;
			}
		}
		&-note{
			display: block;
			position: absolute;
			top: 55.5%;
			left: 25%;
			right: 25%;
		}
	}
}

.sec-procedure{
	background: url(../img/bg-03.png) no-repeat;
	background-size: cover;
	background-position: top center;
	margin: -27px 0 0;
	padding: 88px 0 50px;

}
.procedure-heading{
	margin-bottom: 50px;
}
.procedure-box{
	background: url("../img/bg-note-02.png")no-repeat;
	background-size: 100%;
	height: 86px;
	position: relative;
	text-align: center;
	@include font-size(22);
	font-weight: bold;
	color: #408765;
	@include flex(center,center,wrap);
	padding: 0 20px;

	&__left{
		width: 40%;
		text-align: left;
		@include flex(0,center,wrap);
		span{
			color: #079c46;
			text-transform: uppercase;
			max-width: 230px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			display: inline-block;
		}
	}
	&__right{
		width: 60%;
	}
	&__btn{
		color: #eaf0f2;
		width: 170px;
		height: 53px;
		@include flex(center,center);
		position: absolute;
		right: 17px;
		@include v-align;
		background: url("../img/menu-02.png")no-repeat;
		background-size: 100%;
		&:hover{
			opacity: 1;
			background: url("../img/menu-02-hv.png")no-repeat;
			background-size: 100%;
		}
	}
	&__note{
		@include flex(end,center,wrap);
		margin: 0 -5px;
		li{
			width: 25%;
			padding: 0 5px;
			.procedure-box__btn{
				position: static;
				top: auto;
				transform: translateY(0);
			}
		}

	}
}

.procedure-block{
	position: relative;
	&:before,&:after{
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
	}
	&:before{
		left: -5%;
		width: 22%;
		background: url(../img/procedure-left.png) no-repeat;
		background-size: 100%;
		background-position: top left;
	}
	&:after{
		width: 24%;
		right: -6%;
		background: url(../img/procedure-right.png) no-repeat;
		background-size: 100%;
	}
}
.procedure-show{
	position: relative;
	z-index: 1;
	margin-bottom: -18px;
	&__item{
		padding: 0 7.3%;
		position: relative;
	}
	&__bg{
		position: relative;
	}
	&__block{
		position: absolute;
		top: 0;
		left: 8%;
		right: 0;
		bottom: 0;
		&-ttl{
			position: absolute;
			top: 16%;
			left: -9%;
			font-size: 2.2rem;
			text-transform: uppercase;
			font-weight: bold;
			color: white;
			line-height: 1.4;
			display: block;
			width: 73px;
			text-align: center;
		}
		&-img{
			position: absolute;
			top: 3%;
			left: 3%;
			right: 3%;
		}
		&-note{
			position: absolute;
			bottom: 25%;
			left: 0;
			right: 0;
			max-width: 222px;
			height: 53px;
			margin: 0 auto;
			background: url(../img/bg-note-03.png) no-repeat;
			background-size: 100%;
			font-size: 1.5rem;
			text-align: center;
			color: #edefc7;
			font-weight: 500;
			line-height: 1.1;
			padding: 3px 0 0 0;
			span{
				display: block;
				@include font-size(30);
				color: white;
			}
		}
		.c-btn__01{
			position: absolute;
			bottom: 6%;
			left: 0;
			right: 0;
		}
	}
}
.sec-gallery{
	z-index: 2;
	padding: 110px 0;
	&:before{
		content: "";
		position: absolute;
		top: -73px;
		left: 0;
		right: 0;
		bottom: -70px;
		background: url(../img/bg-04.png) no-repeat;
		background-size: cover;
	}
	&:after{
		content: "";
		width: 360px;
		height: 250px;
		background: url(../img/item.png) no-repeat;
		background-size: 100%;
		position: absolute;
		top: -174px;
		left: 0;
	}
}
.gallery-show{
	position: relative;
	&__for{
		margin-bottom: 50px;
		&-item{
			padding: 160px 0 0;
			&.slick-current{
				.gallery-block{
					&__img{
						left: 0;
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
		.slick-arrow{
			width: 42px;
			height: 68px;
			z-index: 99;
			top: calc(50% + 80px);
			&:before{
				display: none;
			}
			&.slick-prev{
				background: url("../img/prev.png")no-repeat;
				background-size: 100%;
				left: -70px;
			}
			&.slick-next{
				background: url("../img/next.png")no-repeat;
				background-size: 100%;
				right: -70px;
			}
		}
	}
	&__nav{
		padding: 0 168px;
		position: relative;
		&:before,&:after{
			content: "";
			width: 168px;
			height: 14px;
			position: absolute;
			@include v-align;
		}
		&:before{
			left: 0;
			background: url("../img/bf-02.png")no-repeat;
			background-size: 100%;
			background-position: top left;
		}
		&:after{
			right: 0;
			background: url("../img/af-02.png")no-repeat;
			background-size: 100%;
			background-position: top right;
		}
		.slick-track{
			transform: none !important;
		}
		&-box{
			cursor: pointer;
			position: relative;
			max-width: 63px;
			margin: 0 auto;
			img{
				@include smooth-transition;
			}
			.img-01{

			}
			.img-02{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				z-index: 1;
				opacity: 0;
				visibility: hidden;
			}
			&:hover{
				.img-01{
					opacity: 0;
					visibility: hidden;
				}
				.img-02{
					opacity: 1;
					visibility: visible;
				}
			}
		}
		&-item{
			&.slick-current{
				.gallery-show__nav-box{
					.img-01{
						opacity: 0;
						visibility: hidden;
					}
					.img-02{
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}
.gallery-block{
	width: 100%;
	@include flex(between,0,wrap);
	&__ttl{
		position: relative;
		z-index: 2;
		width: 222px;
		&-note{
			position: absolute;
			top: 215px;
			left: 15px;
			right: 15px;
			bottom: 0;
			font-size: 1.5rem;
			font-weight: 500;
			color: #3c3c3c;
			p{
				margin-bottom: 13px;
				overflow: hidden;
				text-overflow: ellipsis;
				-webkit-line-clamp: 2;
				height: 43px;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
	&__bg-show{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 64%;
	}
	&__img{
		width: 67%;
		position: absolute;
		bottom: 0;
		left: -10%;
		z-index: 3;
		@include smooth-transition;
		opacity: 0;
		visibility: hidden;
		&--othe{
			width: 61%;
		}
	}
	&__video{
		width: calc(100% - 222px);
		padding: 0 0 0 15%;
		img{
			width: 100%;
			height: 100%;
			@include ob;
		}
	}
}

.sec-work{
	padding: 100px 0 230px;
	z-index: 3;
	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: url("../img/bg-05.png")no-repeat;
		background-size: cover;
	}
	.inner{
		position: relative;
		z-index: 2;
	}
}

.work-banner{
	position: relative;
	margin-bottom: 60px;
	.slick-arrow{
		width: 58px;
		height: 68px;
		z-index: 99;
		&:before{
			display: none;
		}
		&.slick-prev{
			background: url("../img/prev-02.png")no-repeat;
			background-size: 100%;
			left: -70px;
		}
		&.slick-next{
			background: url("../img/next-02.png")no-repeat;
			background-size: 100%;
			right: -70px;
		}
	}
	.slick-list{
		margin-bottom: 50px;
	}
	.slick-dots{
		position: relative;
		bottom: auto;
		@include flex(center,center,wrap);
		&:before,&:after{
			content: "";
			width: 30%;
			height: 14px;
			position: absolute;
			@include v-align;
		}
		&:before{
			background: url("../img/bf-03.png")no-repeat;
			background-position: top left;
			background-size: 400px;
			left: 0;
		}
		&:after{
			background: url("../img/af-03.png")no-repeat;
			background-position: top right;
			background-size: 400px;
			right: 0;
		}
		li{
			margin: 0 8px;
			button{
				width: 37px;
				height: 37px;
				&:before{
					content: "";
					width: auto;
					height: auto;
					border: none;
					border-radius: 0;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: url(../img/dos.png) no-repeat;
					background-size: 100%;
					-o-transition: all 0.3s ease;
					transition: all 0.3s ease;
				}
			}
			&.slick-active{
				button{
					&:before{
						top: -10px;
						left: -10px;
						right: -10px;
						bottom: -10px;
						background: url("../img/dos-active.png")no-repeat;
						background-size: 100%;
					}
				}
			}
		}
	}
	&__item{
		position: relative;
		z-index: 2;
		padding: 10px;
		&:before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: url("../img/bg-custom.png")no-repeat;
			background-size: 100% 100%;
		}
		img{
			width: 100%;
			border: 7px solid #a3d9ba;
		}
	}
}
.work-links{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}