@use "vars" as *;


.mv-video{
	video{
		width: 100%;
	}
}
.mv-block{
	width: 100%;
	max-width: vw(1237);
	margin: 0 auto;
	padding: 0 15px;
	position: absolute;
	bottom: 25%;
	left: 0;
	right: 0;
	z-index: 1;
	@include mq(){
		bottom: 17%;
		max-width: 100%;
		padding: 0 vwsp(38);
	}
	&__clip{
		position: absolute;
		top: vw(-112);
		left: vw(64);
		cursor: pointer;
		width: vw(93);
		@include smooth-transition;
		@include mq(){
			top: vwsp(-250);
			left: vwsp(80);
			width: vwsp(93);
		}
		&:hover{
			opacity: 0.7;
		}
	}
	&__ct{
		width: 50%;
		max-width: 373px;
		padding: 0 0 0 14px;
		margin-bottom: 40px;
	}
	&__menu{
		@include mq(md-min){
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			gap: 10px;
		}
		@include mq(){
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			&-item{
				width: 48%;
				margin-bottom: 3vw;
				&:nth-child(3){
					width: 100%;
					max-width: 100%;
					.c-btn__01{
						font-size: vwsp(48);
						max-width: 100%;
						background: url("../img/btn-big.png")no-repeat;
						background-size: 100%;
					}
				}
			}
		}
		.c-btn__01{
			max-width: vw(394);
			height: vw(83);
			font-size: vw(26);
			@include mq(){
				max-width: vwsp(337);
				height: vwsp(82);
				font-size: vwsp(26);
			}
		}
	}
}


.heading{
	position: relative;
	margin-bottom: 36px;
	@include mq(){
		margin: 0 vwsp(-50);
	}
	&-bg{
		max-width: 894px;
		margin: 0 auto;
		img{
			width: 100%;
		}
	}
	.c-ttl__01{
		position: absolute;
		top: 66%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
	}
}


.sec-gift{
	background: url(../img/bg-02.png) no-repeat;
	background-size: cover;
	background-position: top center;
	padding: 0 0 80px;
	margin: -30px 0 0;
	@include mq(){
		margin: vwsp(-30) 0 0;
		background: url(../img/bg-02-sp.png) no-repeat;
		background-size: cover;
		background-position: top center;
		padding-bottom: vwsp(100);
	}
}
.gift-block{
	&__view{
		display: block;
		max-width: 462px;
		height: 83px;
		padding: 15px 0 0;
		margin: 0 auto 90px;
		position: relative;
		background: url("../img/bg-note.png")no-repeat;
		background-size: 100%;
		text-align: center;
		@include mq(){
			max-width: vwsp(484);
			height: vwsp(103);
			margin-bottom: vwsp(-23);
			padding: vwsp(15) 0 0;
		}
		&-ttl{
			display: block;
			position: absolute;
			top: -13px;
			left: 0;
			right: 0;
			@include font-size(22);
			font-weight: bold;
			text-transform: uppercase;
			color: #4b504e;
			@include mq(){
				font-size: vwsp(22);
				top: vwsp(-13);
			}
			span{
				background: #e9eff1;
				padding: 0 20px;
				@include mq(){
					padding: 0 vwsp(20);
				}
			}
		}
		&-number{
			display: block;
			text-align: center;
			@include font-size(50);
			color: #489e7c;
			line-height: 1;
			font-weight: bold;
			@include mq(){
				font-size: vwsp(50);
			}
		}
	}
	&__show{
		&-line{
			position: relative;
			@include mq(){
				display: none;
			}
			&--custom{
				display: inline-block;
				position: absolute;
				@include v-align;
				left: 28px;
				background: #5ca780;
				height: 5px;
			}
		}
	}
	&__list{

		@include mq(md-min){
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			gap: 4%;
			padding: 0 2%;
			margin: -115px 0 68px;
		}
		@include mq(){
			@include flex(center,center,wrap);
			margin: 0 vwsp(-30) vwsp(-80);
		}
		.js-popup-gift,.js-popup-noti02{
			cursor: pointer;
			@include smooth-transition;
			&:hover{
				opacity: 0.7;
			}
		}
		&-item{
			position: relative;
			@include mq(md-min){
				&:nth-child(even){
					transform: translate(0, 25px);
				}
			}
			@include mq(){
				width: 33.333%;
				padding: 0 vwsp(30);
				&:nth-child(4){
					transform: translate(0, vwsp(-100));
				}
				&:nth-child(5){
					transform: translate(0, vwsp(-130));
				}
			}
		}
		&-box{

		}
		&-ct{
			position: absolute;
			top: 35%;
			left: 0;
			right: 0;
			@include font-size(15);
			line-height: 1;
			text-align: center;
			font-weight: bold;
			color: #465750;
			text-transform: uppercase;
			@include mq(xl){
				font-size: xl(15);
			}
			@include mq(){
				top: 39%;
				font-size: vwsp(15);
			}
			span{
				display: block;
				@include font-size(30);
				padding: 5px 0 0;
				@include mq(xl){
					font-size: xl(30);
				}
				@include mq(){
					font-size: vwsp(30);
					padding: vwsp(5) 0 0;
				}
			}
		}
		&-note{
			display: block;
			position: absolute;
			top: 55.5%;
			left: 25%;
			right: 25%;
		}
	}
}

.sec-procedure{
	background: url(../img/bg-03.png) no-repeat;
	background-size: cover;
	background-position: top center;
	margin: -27px 0 0;
	padding: 88px 0 50px;
	@include mq(){
		background: url(../img/bg-03-sp.png) no-repeat;
		background-size: cover;
		background-position: top center;
		margin: vwsp(-50) 0 0;
		padding: vwsp(90) 0 vwsp(200) 0;
	}

}
.procedure-heading{
	margin-bottom: 50px;
}
.procedure-box{
	background: url("../img/bg-note-02.png")no-repeat;
	background-size: 100%;
	height: 86px;
	position: relative;
	text-align: center;
	@include font-size(22);
	font-weight: bold;
	color: #408765;
	@include flex(center,center,wrap);
	padding: 0 20px;
	@include mq(xl){
		padding: 0 xl(20);
		font-size: xl(22);
		height: xl(86);
	}
	@include mq(){
		background: url("../img/bg-note-02-sp.png")no-repeat;
		background-size: 100%;
		height: vwsp(82);
		font-size: vwsp(22);
		justify-content: flex-start;
		padding: 0 vwsp(20);
		&+ .procedure-box{
			margin-top: vwsp(50);
		}
	}
	&__left{
		@include mq(md-min){
			width: 40%;
			text-align: left;
			@include flex(0,center,wrap);
			span{
				color: #079c46;
				text-transform: uppercase;
				max-width: 230px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				display: inline-block;
			}
		}
		@include mq(){
			position: absolute;
			top: vwsp(-33);
			left: 0;
			right: 0;
			text-align: center;
			color: #f4eed5;
			span{
				text-transform: uppercase;
			}
		}
	}
	&__right{
		width: 60%;
		@include mq(){
			width: 100%;
		}
	}
	&__btn{
		color: #eaf0f2;
		width: 170px;
		height: 53px;
		@include flex(center,center);
		position: absolute;
		right: 17px;
		@include v-align;
		background: url("../img/menu-02.png")no-repeat;
		background-size: 100%;
		@include mq(xl){
			width: xl(170);
			height: xl(53);
			right: xl(17);
		}
		@include mq(){
			width: vwsp(150);
			height: vwsp(49);
			right: vwsp(17);
		}

		&:hover{

			opacity: 1;
			background: url("../img/menu-02-hv.png")no-repeat;
			background-size: 100%;
		}
	}
	&__note{
		@include flex(end,center,wrap);
		margin: 0 -5px;
		@include mq(){
			margin: 0 vwsp(-5);
		}
		li{
			width: 25%;
			padding: 0 5px;
			@include mq(xl){
				padding: 0 xl(5);
			}
			@include mq(){
				padding: 0 vwsp(5);
			}
			.procedure-box__btn{
				position: static;
				top: auto;
				transform: translateY(0);
			}
		}

	}
}

.procedure-block{
	position: relative;
	&:before,&:after{
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;

	}
	&:before{
		left: -5%;
		width: 22%;
		background: url(../img/procedure-left.png) no-repeat;
		background-size: 100%;
		background-position: top left;
		@include mq(){
			top: -13%;
			left: 2%;
			width: 50%;
		}
	}
	&:after{
		width: 24%;
		right: -6%;
		background: url(../img/procedure-right.png) no-repeat;
		background-size: 100%;
		@include mq(){
			display: none;
		}
	}
}
.procedure-show{
	position: relative;
	z-index: 1;
	margin-bottom: -18px;
	@include mq(){
		.slick-arrow{
			width: vwsp(120);
			height: vwsp(114);
			z-index: 9;
			&:before{
				display: none;
			}
			&.slick-next{
				background: url("../img/next-03.png")no-repeat;
				background-size: 100%;
				right: -6%;
			}
			&.slick-prev{
				background: url("../img/prev-03.png")no-repeat;
				background-size: 100%;
				left: -6%;
			}
		}
		.slick-dots{
			@include flex(center,center,wrap);
			bottom: vwsp(-50);
			li{
				margin: 0 8px;
				button{
					width: vwsp(37);
					height: vwsp(37);
					&:before{
						content: "";
						width: auto;
						height: auto;
						border: none;
						border-radius: 0;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						background: url(../img/dos.png) no-repeat;
						background-size: 100%;
						-o-transition: all 0.3s ease;
						transition: all 0.3s ease;
					}
				}
				&.slick-active{
					button{
						&:before{
							top: vwsp(-10);
							left: vwsp(-10);
							right: vwsp(-10);
							bottom: vwsp(-10);
							background: url("../img/dos-active.png")no-repeat;
							background-size: 100%;
						}
					}
				}
			}
		}
	}
	&__item{
		padding: 0 7.3%;
		position: relative;
		@include mq(){
			padding: 0 ;
			padding-bottom: vwsp(127);
		}
	}
	&__bg{
		position: relative;
		@include mq(){
			width: vwsp(423);
			height: vwsp(550);
			margin: 0 auto;
		}
	}
	&__block{
		position: absolute;
		top: 0;
		left: 8%;
		right: 0;
		bottom: 0;
		&-ttl{
			position: absolute;
			top: 16%;
			left: -9%;
			font-size: 2.2rem;
			text-transform: uppercase;
			font-weight: bold;
			color: white;
			line-height: 1.4;
			display: block;
			width: 73px;
			text-align: center;
			@include mq(xl){
				font-size: xl(22);
				width: xl(73);
			}
			@include mq(){
				width: vwsp(73);
				font-size: vwsp(22);
			}
		}
		&-img{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
		}
		&-note{
			position: absolute;
			bottom: 25%;
			left: 0;
			right: 0;
			max-width: 222px;
			height: 53px;
			margin: 0 auto;
			background: url(../img/bg-note-03.png) no-repeat;
			background-size: 100%;
			font-size: 1.5rem;
			text-align: center;
			color: #edefc7;
			font-weight: 500;
			line-height: 1.1;
			padding: 3px 0 0 0;
			@include mq(xl){
				max-width: xl(222);
				height: xl(53);
				font-size: xl(15);
			}
			@include mq(){
				bottom: 8%;
				max-width: 100%;
				height: vwsp(80);
				font-size: vwsp(26);
				background: #62a182;
			}
			span{
				display: block;
				@include font-size(30);
				color: white;
				@include mq(xl){
					font-size: xl(30);
				}
				@include mq(){
					font-size: vwsp(36);
				}
			}
		}
		.c-btn__01{
			position: absolute;
			bottom: 6%;
			left: 0;
			right: 0;
			@include mq(xl){
				height: xl(83);
				font-size: xl(26);
			}
			@include mq(){
				bottom: -21%;
				height: vwsp(97);
				font-size: vwsp(26);
			}
		}
	}
	&__custom{
		@include mq(){
			margin: vwsp(-144) 0 0;
		}
	}
}
.sec-gallery{

	padding: 110px 0;
	@include mq(){
		padding: vw(70) 0;
		z-index: 2;
	}
	&:before{
		content: "";
		position: absolute;
		top: -73px;
		left: 0;
		right: 0;
		bottom: -70px;
		background: url(../img/bg-04.png) no-repeat;
		background-size: cover;
		@include mq(){
			top: vwsp(-73);
			bottom: vwsp(-70);
			background: url(../img/bg-04-sp.png) no-repeat;
			background-size: cover;
		}
	}
	&:after{
		content: "";
		width: 360px;
		height: 250px;
		background: url(../img/item.png) no-repeat;
		background-size: 100%;
		position: absolute;
		top: -174px;
		left: 0;
		@include mq(xl){
			top: xl(-174);
		}
		@include mq(){
			top: vwsp(-174);
			width: 50%;
			height: 50%;
			left: -21%;
		}
	}
}
.gallery-show{
	position: relative;
	@include mq(){
		margin: 0 vwsp(-50);

	}
	&__for{
		margin-bottom: 50px;
		position: relative;
		@include mq(){
			&:after{
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: vwsp(5);
				background: url("../img/line-02.png")no-repeat;
				background-size: 100%;
			}
		}
		&-item{
			padding: 160px 0 0;
			@include mq(){
				padding: 0;
			}
			&.slick-current{
				.gallery-block{
					&__img{
						left: 0;
						opacity: 1;
						visibility: visible;
						@include mq(){
							left: 12%;
							&--05,&--06{
								left: 20%;
							}
						}
					}
				}
			}
		}
		@include mq(md-min){
			.slick-arrow{
				width: 42px;
				height: 68px;
				z-index: 99;
				top: calc(50% + 80px);
				&:before{
					display: none;
				}
				&.slick-prev{
					background: url("../img/prev.png")no-repeat;
					background-size: 100%;
					left: -70px;
				}
				&.slick-next{
					background: url("../img/next.png")no-repeat;
					background-size: 100%;
					right: -70px;
				}

			}
		}
		@include mq(){
			.slick-arrow{
				width: vwsp(120);
				height: vwsp(114);
				z-index: 9;
				top: auto;
				transform: translate(0, 0);
				bottom: vwsp(-34);
				&:before{
					display: none;
				}
				&.slick-next{
					background: url("../img/next-03.png")no-repeat;
					background-size: 100%;
					right: 0;
				}
				&.slick-prev{
					background: url("../img/prev-03.png")no-repeat;
					background-size: 100%;
					left: 0;
				}
			}
		}
	}
	&__nav{
		padding: 0 168px;
		position: relative;
		@include mq(){
			padding: 0;
		}
		&:before,&:after{
			content: "";
			width: 168px;
			height: 14px;
			position: absolute;
			@include v-align;
			@include mq(){
				display: none;
			}
		}
		&:before{
			left: 0;
			background: url("../img/bf-02.png")no-repeat;
			background-size: 100%;
			background-position: top left;
		}
		&:after{
			right: 0;
			background: url("../img/af-02.png")no-repeat;
			background-size: 100%;
			background-position: top right;
		}
		.slick-track{
			transform: none !important;
		}
		&-box{
			cursor: pointer;
			position: relative;
			max-width: 63px;
			margin: 0 auto;
			@include mq(){
				max-width: vwsp(63);
			}
			img{
				@include smooth-transition;
			}
			.img-01{

			}
			.img-02{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				z-index: 1;
				opacity: 0;
				visibility: hidden;
			}
			&:hover{
				.img-01{
					opacity: 0;
					visibility: hidden;
				}
				.img-02{
					opacity: 1;
					visibility: visible;
				}
			}
		}
		&-item{
			&.slick-current{
				.gallery-show__nav-box{
					.img-01{
						opacity: 0;
						visibility: hidden;
					}
					.img-02{
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}
.gallery-block{
	width: 100%;
	@include flex(between,0,wrap);
	&__ttl{
		position: relative;
		z-index: 2;
		width: 222px;
		@include mq(xl){
			width: xl(222);
		}
		@include mq(){
			position: absolute;
			bottom: 0;
			left: 5%;
			width: vwsp(222);
		}
		&-note{
			position: absolute;
			top: 215px;
			left: 15px;
			right: 15px;
			bottom: 0;
			font-size: 1.5rem;
			font-weight: 500;
			color: #3c3c3c;
			@include mq(xl){
				font-size: xl(15);
				top: xl(215);
				left: xl(15);
				right: xl(15);
			}
			@include mq(){
				top: vwsp(200);
				left: vwsp(15);
				right: vwsp(15);
				font-size: vwsp(17);
			}
			p{
				margin-bottom: 13px;
				overflow: hidden;
				text-overflow: ellipsis;
				-webkit-line-clamp: 2;
				max-height: 43px;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				@include mq(xl){
					max-height: xl(43);
					margin-bottom: xl(13);
				}
				@include mq(){
					max-height: vwsp(50);
					margin-bottom: vwsp(13);
				}
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
	&__bg-show{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 64%;
		@include mq(){
			position: relative;
			width: 100%;
			img{
				position: relative;
				right: -19%;
				width: 89%;
			}
		}
	}
	&__img{
		width: 67%;
		position: absolute;
		bottom: 0;
		left: -10%;
		z-index: 3;
		@include smooth-transition;
		opacity: 0;
		visibility: hidden;
		@include mq(){
			width: 96%;
			left: 0;
		}
		&--04{
			@include mq(){
				width: 85%;
			}
		}
		&--05{
			width: 61%;
			@include mq(){
				width: 79%;
			}
		}
		&--06{
			@include mq(){
				width: 90%;
			}
		}
		&--07{
			@include mq(){
				width: 88%;
			}
		}
	}
	&__video{
		width: calc(100% - 222px);
		padding: 0 0 0 15%;
		@include mq(){
			display: none;
		}
		img{
			width: 100%;
			height: 100%;
			@include ob;
		}
	}
}

.sec-work{
	padding: 100px 0 230px;

	@include mq(){
		padding: vwsp(100) 0 vwsp(230);
		z-index: 3;
	}
	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: url("../img/bg-05.png")no-repeat;
		background-size: cover;
		@include mq(){
			background: url("../img/bg-05-sp.png")no-repeat;
			background-size: cover;
		}
	}
	.inner{
		position: relative;
		z-index: 2;
	}
}

.work-banner{
	position: relative;
	margin-bottom: 60px;
	@include mq(){
		margin-bottom: vwsp(60);
	}
	.slick-arrow{
		width: 58px;
		height: 68px;
		z-index: 99;
		@include mq(){
			display: none !important;
		}
		&:before{
			display: none;
		}
		&.slick-prev{
			background: url("../img/prev-02.png")no-repeat;
			background-size: 100%;
			left: -70px;
		}
		&.slick-next{
			background: url("../img/next-02.png")no-repeat;
			background-size: 100%;
			right: -70px;
		}
	}
	.slick-list{
		margin-bottom: 50px;
		@include mq(){
			margin-bottom: vwsp(50);
		}
	}
	.slick-dots{
		position: relative;
		bottom: auto;
		@include flex(center,center,wrap);
		&:before,&:after{
			content: "";
			width: 30%;
			height: 14px;
			position: absolute;
			@include v-align;
			@include mq(){
				display: none;
			}
		}
		&:before{
			background: url("../img/bf-03.png")no-repeat;
			background-position: top left;
			background-size: 400px;
			left: 0;
		}
		&:after{
			background: url("../img/af-03.png")no-repeat;
			background-position: top right;
			background-size: 400px;
			right: 0;
		}
		li{
			margin: 0 8px;
			button{
				width: 37px;
				height: 37px;
				@include mq(){
					width: vwsp(37);
					height: vwsp(37);
				}
				&:before{
					content: "";
					width: auto;
					height: auto;
					border: none;
					border-radius: 0;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: url(../img/dos.png) no-repeat;
					background-size: 100%;
					-o-transition: all 0.3s ease;
					transition: all 0.3s ease;
				}
			}
			&.slick-active{
				button{
					&:before{
						top: -10px;
						left: -10px;
						right: -10px;
						bottom: -10px;
						background: url("../img/dos-active.png")no-repeat;
						background-size: 100%;
						@include mq(){
							top: vwsp(-10);
							left: vwsp(-10);
							right: vwsp(-10);
							bottom: vwsp(-10);
						}
					}
				}
			}
		}
	}
	&__item{
		position: relative;
		z-index: 2;
		padding: 10px;
		&:before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: url("../img/bg-custom.png")no-repeat;
			background-size: 100% 100%;
		}
		img{
			width: 100%;
			border: 7px solid #a3d9ba;
		}
	}
}
.work-links{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	@include mq(){
		gap: vwsp(20);
	}
	li{
		@include mq(xl){
			.c-btn__01{
				height: xl(83);
				font-size: xl(26);
			}
		}
		@include mq(){
			.c-btn__01{
				font-size: vwsp(20);
				height: vwsp(53);
			}
		}
	}
}