<header id="header">
	<a href="<%= RELATIVE_PATH %>" class="header-logo">
		<img src="<%= RELATIVE_PATH %>img/logo.png" alt="Võ Hiệp Truyền Kỳ">
	</a>
	<nav class="header-nav">
		<ul class="header-nav__menu">
			<li class="header-nav__menu-item">
				<a href="">Trang chủ </a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">Đặc sắc</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">Cộng đồng</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">Hotline</a>
			</li>
		</ul>
	</nav>
	<span class="js-mobile">
		<span></span>
	</span>
</header>